.container {
  display: flex;
  align-items: center;
}
.user {
  margin-left: auto;
}
.avatar {
  margin-right: 5px;
  /* width: 45px; */
  border-radius: 25px;
}

.name {
  font-weight: 700;
  font-size: 24px;
  margin-right: 15px;
}

.button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 60px; */
  margin-right: auto;
  /* margin-left: auto; */
  min-width: 120px;
  padding: 10px 12px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(0, 0, 0);
  background-color: #9b9b9b;
  text-decoration: none;

  transition: 0.2s ease-in-out;
}

.button:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(139, 235, 152, 0.1),
    rgba(245, 241, 18, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
  margin-top: 20px;
}

.button:hover {
  background: #020202;
  color: rgb(226, 247, 38);
}

.button:hover:before {
  left: 150px;
  transition: 0.7s ease-in-out;
}
